@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="Container-Card">
            <div class="Images">
                <img src="~/asset/icons8-usuario-96.png">
            </div>
            <div>
                <form method="post"  autocomplete="off">
                    <label for="gmail">Usuario</label>
                    <br>
                    <input type="text" name="gmail" id="gmail">
                    <br>
                    <label for="gmail">Contraseña</label>
                    <br>
                    <input type="password" name="pass" id="gmail">
                    <input type="submit" value="Entrar">
                    
                </form>
            </div>
        </div>
    </div>
</body>
</html>
